<% provide(:title,"ABOUT") %>
<% provide(:content, " Webapp developed by CMPT-276 students") %>


<% provide(:name, "About") %>
<h1> 
	<%= yield (:name) %>
</h1>
<h2> 
	<%= yield (:content) %>
</h2>

	


