<% provide(:title,"ABOUT") %>
<% provide(:content, " Webapp developed by CMPT-276 students") %>


<% provide(:name, "About") %>
<h1> 
	<%= yield (:name) %>
</h1>
<h2> 
	<%= yield (:content) %>
</h2>
__________________________________________________________________________________________________________________________________________________________________
<div id="section">
<h2>We Build Easy and Friendly Selling Platforms</h2>
<p>
Selling books in SFU Used Book Sales, you just need to login our system and set up an individual account. Meanwhile, we provide with facebook login as an optional way for our customers.
</p>
<p>
Each book, which is posted on our webside, has in detailed information such as cover-pictures, title, ISBN number and publisher.   
</p>
__________________________________________________________________________________________________________________________________________________________________

<h2>We Build Convinient Searching Engines </h2>
<p>
Searching books in SFU Used Book Sales, you just need to click department and course number. We categorize all of the text books which is selling in SFU Used Book Sales in term of SFU course outline.
</p>
<p>
You can also choose to surf on SFU Used Book Sales home page to find your favorite books, if you don't have a particular demand.     
</p>
__________________________________________________________________________________________________________________________________________________________________

<h2>We Recommend popular and Good Selling Books</h2>
<p>
Base on the selling data and comments log, we provide with our recommendations to readers and public.
</p>
<p>
Base on the SFU course outline, we update the required text book recommendation to students.     
</p>
</div>

	


