<<<<<<< HEAD
<% provide(:title,"CONTACT") %>



<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>

=======
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
	width:780px;
    float:left;
    padding:10px;
    text-align:center;	 	 
}
div.relative
{
  position: relative;
  width: 1000px;
  height:800px;
  background: url('/assets/background.png');
  border: 2px solid black;
}
div.absolute{
	position: absolute;
	top: 10px;
	width:800px;
	height:600px;
	margin:80px;
	background-color:#ffffff;
	border:3px solid black;
}
div.absolute p {
	front-weight: bold;
	color:#003300 ;
}
</style>
</head>
<body>
>>>>>>> f35313dac63ed0e3dd3a108a401f168eca043220
<div class = "relative">
	<div class = "absolute">
		<div id = "header">
		<h1>We Are CMPT- 276 Students</h1> 
<<<<<<< HEAD
___________________________________________________________________________________________________________
		</div>
		<div id ="section">
			<h2>rverma@sfu.ca</h2>
			<h2>cyahn@sfu.ca</h2>
			<h2>lza93@sfu.ca</h2>
			<h2>codyc@sfu.ca</h2>
			<h2>minxinz@sfu.ca</h2>
	</div>
	</div>
</div>
=======
		</div>
		<div id ="section">
			<h2>rverma@sfu.ca</h2><br>
			<h2>cyahn@sfu.ca</h2><br>
			<h2>lza93@sfu.ca</h2><br>
			<h2>codyc@sfu.ca</h2><br>
			<h2>minxinz@sfu.ca</h2><br>
	</div>
	</div>
</div>
</body>
</html>
>>>>>>> f35313dac63ed0e3dd3a108a401f168eca043220
