<% provide(:title,"CONTACT") %>



<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>

<div class = "relative">
	<div class = "absolute">
		<div id = "header">
		<h1>We Are CMPT- 276 Students</h1> 
___________________________________________________________________________________________________________
		</div>
		<div id ="section">
			<h2>rverma@sfu.ca</h2>
			<h2>cyahn@sfu.ca</h2>
			<h2>lza93@sfu.ca</h2>
			<h2>codyc@sfu.ca</h2>
			<h2>minxinz@sfu.ca</h2>
	</div>
	</div>
</div>
