<% provide(:title,"CONTACT") %>
<% provide(:content, "Contact email: rverma@sfu.ca, cyahn@sfu.ca, lza93@sfu.ca, codyc@sfu.ca, minxinz@sfu.ca") %>


<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>
<h2> 
	<%= yield (:content) %>
</h2>
