<div class = "center jumbotron">
  <h1>Welcome to SFU Used Book Sales</h1>
  <p>This app provides you with a platform for buying/selling SFU books.</p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up using facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-primary" %>
  <p></p>
  or <%= link_to "Sign up using Twitter", user_omniauth_authorize_path(:twitter) %>
</div>

    